<h1>Editing Information</h1>

<%= render 'form', staff: @staff %>

</br>

<%= link_to 'Show', @staff, class:'btn btn-light' %> 
<%= link_to 'Back to the index page', staffs_path ,class:'btn btn-secondary' %>
