<table class ="table table-striped table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Staff name</th>
      <th>Staff header</th>
      <th>Staff co header</th>
      <th>Staff adress</th>
      <th>Institut name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<h1>Teams and Facilities</h1>
<%= render partial: "staff", collection: @staffs %>
</br>
 
 </tbody>
</table>

<br>

<%= link_to 'New Staff', new_staff_path, class:'btn btn-info' %>
