<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Header</th>
      <th>Adress</th>
      <th>Institut name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    

<h1>Teams and Facilities</h1>
<%= render partial: "staff", collection: @staffs %>
</br>
 
 </tbody>
</table>

<br>


<% if user_signed_in?%>
  <%= link_to 'New Staff', new_staff_path, class:'btn btn-info' %>
 <% else %>
  <p> To add a new staff, please <%= link_to "login",new_user_session_path, class:"link" %> </p>
 <% end %>  
