<h1>Editing Phenotype</h1>
<hr>

<%= render 'form', phenotype: @phenotype %></br>

<%= link_to 'Show', @phenotype, class: 'btn btn-light' %> 
<%= link_to 'Back', phenotypes_path, class: 'btn btn-secondary' %>
