<h1>Editing publication information</h1>
<hr>

<%= render 'form', publication: @publication%>

</br>
<%= link_to 'Show', @publication, class:'btn btn-light' %>
<%= link_to 'Back', publications_path, class:'btn btn-secondary' %>
