<h1>Editing Information</h1>

<%= render 'form', user: @user %>

</br>

<%= link_to 'Show', @user, class:'btn btn-light' %> 
<%= link_to 'Back to the index page', users_path ,class:'btn btn-secondary' %>
