<h1>Member index</h1>
</br>

<table class="table">
  <thead class="thead">
    <tr>
      <th>email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show more', user, class:'btn btn-outline-secondary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>


