<p>
  <% unless @user.email.blank? %>
    <strong>User mail:</strong>
    <%= @user.email %>
  <% end %>

  <% unless @user.groups.blank? %>
    <strong>Associated groups:</strong>
    <%= @user.groups.ids %>
  <% end %>



</p>

</br>
<p>
<%= link_to 'Edit information', edit_user_registration_path(@user), class:'btn btn-light' %> 
<%= link_to 'Back', users_path, class:'btn btn-secondary' %>
</p>