<h1> About NvLines </h1>
<hr>

<h5> NvLines aim </h5>
<p>Over the past decade, the sea anemone Nematostella vectensis has emerged as a novel research model to study the molecular and cellular processes underlying regeneration and aging. Thanks to the establishment of reporter and functional lines, the scientific community can now investigate in detail a variety of biological processes in Nematostella, including its extreme regenerative capacities. Efforts to regroup and enable mining of existing data from various established research models (such as Flybase and Zfin databases), have already shown that the development of freely accessible online databases are crucial tools to foster scientific advances and build scientific communities. The increasing number of Nematostella lines has led the Röttinger team, "Embryogenesis, regeneration and aging" from the IRCAN, to estimate important the establishment of a database dedicated to regrouping all existing reporter, functional and wild lines of Nematostella vectensis. Despite the existence of several databases relating to Nematostella, transcriptomics, or in situ hybridization, a database specific to reporter, functional and wild lines have not yet been created. The aim of this project is to provide for each line type, an « identity sheet », with phenotypic, molecular, and imaging associated information. These data will also be supplemented by the publications related to each line, as well as the research teams who developed the line(s).  NvLines has been created with this aim in mind and permits users to add or modify line information through a fluid, intuitive and responsive interface. </p>
</br>

<h5> Current NvLines staff </h5>
<p> Déborah Braud, Olivier Croce, Boris Meyer, Eric Röttinger. </p>
</br>

<h5> How to use NvLines ? </h5>
<p>Please download the NvLines documentation for more information.</p>