<h1>About the starlet sea anemone Nematostella vectensis</h1>

</br> 

<p> Nematostella vectensis, also called the starlet sea anemone (Cnidaria, anthozoa) lives in estuarine environments like salt marshes or brackish water pools from the Northern Atlantic Ocean. Since the 90s, this marine invertebrate has been adopted by researchers around the world to study its ecology,  stress response, embryonic development or extreme regenerative capacity. </p>

<div id="banner">
    <%= image_tag("anemone.jpg", :size => '200x200', :alt => "Nvlines" )%>
</div>

<p>
<strong>Nematostella vectensis species ID </strong></br>
<em>Common name:</em> Starlet sea anemone</br>
<em>Taxon:</em> Cnidaria (Class: Anthozoa, Order: Actinaria , Family  Edwardiidae)</br>
<em>Developmental mode:</em> Indirect</br>
<em>Life cycle:</em> Benthic-lecithotrophic</br>
<em>Egg type:</em> Telolecithal</br>
<em>Cleavage type:</em> Holoblastic</br>
<em>Gastrulation type:</em> Invagination</br>
<em>Larval type:</em> Planula </br>
</p>

<p> To get more information about Nematostella vectensis : <a href="https://kahikai.org/science/nematostella-central/about-nematostella-vectensis/"> Kahikai - About Nematostella</a>
</p>

<p> For data submission, please 
	<%= link_to "login",new_user_session_path, class:"link" %> if you already have an account, if not please <%= link_to "contact us", pages_contact_path, class:"link" %>.
</p>



