<h1>Editing Wild Type Background</h1>

<%= render 'form', wild_type_background: @wild_type_background %>

</br>
<%= link_to 'Back to the index page', @wild_type_background ,class:'btn btn-secondary' %>
