<h1>Editing Wild Type Background</h1>

<%= render 'form', wild_type_background: @wild_type_background %>

<%= link_to 'Show', @wild_type_background %> |
<%= link_to 'Back', wild_type_backgrounds_path %>
