/* TEXT TYPO*/ 
*{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%}

h1{
	text-align: left;
	font-size: 1.4em;
	 /* couleur du titre de la page*/}

h2{
	text-align: left;
	color: #39464A; /* couleur du titre de la page*/}

h3{
	background-color: #F8F9FA;
	text-align: center;
	font-size: 1.1em;
	color: #39464A; /* couleur du titre de la page*/}

h6{
	font-size: 0.55em;
}	

th, td {
	text-align: left;
	vertical-align: middle;
	font-size: 0.9em; }

::placeholder{
	color :#212529
	opacity: 10;
}

.card-title-home{
	text-align: center;
	vertical-align: middle;
	font-size: 1em;
}	


.checkbox_container input {
  display: inline; }

.ChangeLog {
 font-size: 0.6em; }

/* NAVBAR */
.navbar{
	font-family:sans-serif;	
	font-weight: bold;
	vertical-align: middle;
	margin-top:5px;
	}		

.navbar-side{
	font-family:sans-serif;	
	font-weight: bold;
	vertical-align: middle;
	margin-top:60px;
	}	


.navbar-nav > li{
	padding-left:50px;
	padding-right:50px;
}

#banner {
	padding-right:30px;
	text-align: center;
	float: left;
}

.nav-sidebar {
	padding-top:20px;
  	padding-left:10px;
	padding-right:30px;
	text-align: center;
}

.nav-item {
  padding-top:20px;
  padding-left:20px;
  padding-right:30px;
  text-align: left;
}

.nav-item-footer {
  text-align: center;
  font-size: 0.8em; 
}

.nav-search {
  padding-top:20px;
  padding-left:20px;
  padding-right:30px;
  text-align: center;
}

.container-main {
	padding-top:10px;
	padding-left:20px;
	margin-left: 10px;
	padding-right:30px;
	text-align: left;

}

.container-home{
	padding-top:20px;
	padding-left:80px;
	padding-right:80px;
	text-align: left;
}

/* */
*= require jquery-ui


