/* TEXT TYPO*/ 
*{
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%}

h1{
	background-color: #e3f2fd;
	text-align: center;
	font-size: 1.5em;
	color: #39464A; /* couleur du titre de la page*/}

h3{
	font-size: 1.1em;
	color: #39464A; /* couleur du titre de la page*/}

/* NAVBAR */
.navbar{
font-weight: bold;}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

#banner {
padding: 10px;
text-align:  center;
float: left;
}

