<h1>Editing Image</h1>
<hr>

<%= render 'form', image: @image %> </br>

<%= link_to 'Show', @image, class: 'btn btn-outline-secondary' %> 
<%= link_to 'Back to the index page', images_path, class: 'btn btn-secondary' %>
